@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 80vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header-menu {
  background-color: blue;
  padding: 1rem;
}
