@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 80vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
}

p {
  color: #a8a7ab;
  font-size: 1.2rem;
  line-height: 1.7;
}

h1 span {
  color: #2e90d8;
}

.btn {
  background-color: #e82849;
  padding: 1rem 2rem;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  margin: 1rem 0;
}
.header-menu {
  background-color: blue;
  padding: 1rem;
}

.homepage-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-content {
  margin: 4rem 0;
}

.homepage-content .location {
  color: #2e90d8;
  font-size: 1.1rem;
  font-weight: 600;
}

.location span {
  margin-right: 0.5rem;
}

.homepage-title {
  margin: 2rem 0;
  line-height: 1.7;
}

.airline-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fdfdfd;
  padding: 1.5rem 0;
}

.airline-logos img {
  max-width: 12%;
}

.homepage-container img {
  width: 40vmax;
  height: auto;
  object-fit: cover;
}

.service-container {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-content {
  max-width: 20rem;
  margin: 2rem 0;
}

.service-title {
  line-height: 1.7;
}

.service-content p {
  margin: 1rem 0;
}

.service-cards {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.service-cards .card {
  max-width: 20rem;
  border-radius: 5px;
  margin: 1.2rem;
  padding: 1.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
}

.service-cards .card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.card-favicon {
  background-color: #2e90d8;
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #ffffff;
}

.card-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #22232f;
}

.service-cards .card p {
  font-size: 1rem;
}

.features-container {
  margin-bottom: 5rem;
}

.feature-heading {
  text-align: center;
}

.feature-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.feature-card .card-img {
  width: 40vmax;
}

.feature-card .card-details {
  max-width: 30rem;
}

.card-details h3 {
  font-size: 1.5rem;
  color: #22232f;
  line-height: 1.7;
}

.card-details p {
  margin: 1rem 0;
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.blog-heading {
  max-width: 20rem;
}

.blog-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blog-cards .card {
  max-width: 20rem;
  border-radius: 5px;
  margin: 1.2rem;
  padding: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
}

.blog-cards .card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.card-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-details img {
  width: 25%;
  margin-right: 0.5rem;
}

.card-details .person-name {
  line-height: 1.5;
}

.person-name span {
  color: #a8a7ab;
  font-weight: 400;
}

.blog-description {
  font-size: 1rem;
}

.article-container {
  padding: 3rem 0;
}

.article-heading {
  margin: 5rem 0;
  text-align: center;
}

.article-cards {
  display: flex;
  justify-content: space-evenly;
}

.art-card {
  max-width: 20rem;
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
}

.art-card:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
}

.art-card .art-img {
  max-width: 100%;
}

.art-card p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.art-card h3 {
  font-size: 1.5rem;
  color: #22232f;
  line-height: 1.7;
}

.art-card .btn {
  width: 100%;
}

.more {
  margin: 3rem auto;
  background-color: rgb(248, 242, 242);
  color: #e82849;
  display: block;
}

.more span {
  margin: 0 0.5rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  color: #2a2a34;
}

.copyright img {
  width: 8%;
  height: 8%;
}

@media only screen and (max-width: 768px) {
  body {
    width: 90vw;
  }
}

@media only screen and (max-width: 480px) {
  .homepage-container {
    display: block;
    margin: 1rem;
  }
}
